*{
   font-family: sans-serif;
   font-weight: normal;
   font-size: 1.1em;
}

html {
   background-color: bisque;
   background-image: url("white-net-bg.jpg");
   background-attachment: fixed;
}

body {
   width: 70%;
   margin: 0 auto;
   border-width: 1px;
   border-style: dashed;
   background-color: blanchedalmond;
}

button {
   border-width: 2px;
   border-spacing: 30px;
   border-radius: 20%;
   padding: 5px 5px 5px 5px;
   margin:  5px 5px 5px 5px;
}

.button,
button{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #61D7A4;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}



.luecke {
   background-color: aqua;
}

.focus {
   background-color: #61D7A4;
}
.correct {
   background-color: chartreuse;
}
.incorrect {
   background-color: tomato;
}

.grid-container {
   display: grid;
   background-color: beige;
   grid-template-columns: 10px 1fr 10px;
   grid-template-rows: 30px 1fr;
}

.grid-item {
   border: 2px solid blue;
   grid-row-start: 1;
}
.lueckentext {
   margin-top: 80px;
}
.all {
   padding: 1em 1em 1em 1em;
}
/* .app {
   border: #040 2px solid;
   margin-top: 20px;
   margin-bottom: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bolder;
}
*/
.select_text {
   background-color: orange;
/*   position: fixed; */
   width: 80%;
   padding-left: 0.5em;
   padding-right: 0.5em;
   padding-top: 0.3em;
   padding-bottom: 0.2em;
 }

 .stats {
   background-color: bisque;
   position: fixed;
   width: 80%;
   padding-left: 0.5em;
   padding-right: 0.5em;
   padding-top: 0.3em;
   padding-bottom: 0.2em;
   width: 7em;
   top: 0.4em;
   right: 0.4em;
 }

div#log_output {
   width:800px;
   padding:15px;
   border:grey 5px solid;
   margin:10x; 
   font-family: 'Courier New', Courier, monospace;
   font-size: 10px;
}
   

